name: build-vm

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      PACKER_LOG: "TRACE"

    steps:
      - uses: actions/checkout@v4

      - name: Install QEMU + ISO tools
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-x86 xorriso

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: "1.11.0"

      - name: Fix key permissions
        run: chmod 600 keys/packer_ed25519

      - run: packer init .
      - run: packer validate packer.pkr.hcl
      - run: packer build packer.pkr.hcl

      - name: Display VM size
        run: |
          pwd ls -al ls -al output || true find . -maxdepth 4 -type f -name "*.tar.gz" -print -exec ls -al {} ;
          stat -c %s output/craigs_vm.tar.gz

      - name: Release (tag latest)
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          commit: ${{ github.sha }}
          name: latest
          makeLatest: true
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "output/*.tar.gz"
