name: build-vm

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      PACKER_LOG: "TRACE"
      PACKER_LOG_PATH: "packer.log"

    steps:
      - uses: actions/checkout@v4

      - name: Install QEMU + ISO tools
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-x86 xorriso

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: "1.11.0"

      - name: Fix key permissions
        run: chmod 600 keys/packer_ed25519

      - run: packer init .
      - run: packer validate packer.pkr.hcl
      - run: packer build packer.pkr.hcl

      - name: Upload packer log
        uses: actions/upload-artifact@v4
        with:
          name: packer-log
          path: packer.log
          if-no-files-found: warn

      - name: Release (tag latest)
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          commit: ${{ github.sha }}
          name: latest
          makeLatest: true
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "dist/*.tar.gz"